  
body{
    
    a{
        cursor: pointer;
    }
    #header-section{
        display:flex;
        justify-content: space-between;
        box-sizing: border-box;
        #sign-links{
            display:flex;
        justify-content: space-between;
        box-sizing: border-box;
        }
        button{
            cursor:pointer;
            margin-left:1rem;
            padding:0.5rem;
        }
        #candidate-profile-btn{
            button{
                
                //border:1px solid transparent;
                background-color:transparent;
                // background-color:#345beb;
                margin-left:10px;
                // color:palevioletred;
                border:1px solid #345beb;
                color:#345beb;
            }

        }
        #recruiter-profile-btn{
            button{
              
                //border:1px solid transparent;
                background-color:transparent;
                border:1px solid #345beb;
                color:#345beb;
                margin-left:10px;
               
            }

        }
        #sign-out-btn{
            button{
               
                border:1px solid transparent;
                background-color:#345beb;
                
                color:white;
                margin-left:10px;
                
            }

        }
        #sign-up-btn{
            button{
            
                background-color:transparent;
                //background-color: #ec5252;
                border:1px solid #345beb;
                color:#345beb;
                // border:#345beb
                margin-left:10px;
             
                
            }

        }
        #sign-in-btn{
            button{
               
                //border:1px solid transparent;
                border:1px solid transparent;
                background-color:#345beb;
                
                color:white;
                margin-left:10px;
                
            }

        }
    }
}